<h1>listings page</h1>

<ul id="all-task-list">
  <% allTasks.forEach(function(task) { %>
    <%var date = new Date(task.date);
        var day = date.getDate();
        var mth = date.getMonth()+1
        var yr = date.getFullYear()
        %>
    Title:          <%= task.title %><br>
    Description:    <%= task.description %><br>
    Date:           <%= day+'/'+mth+ '/'+yr %><br>
    Time:           <%= task.time %><br>
    Location:       <%= task.location %><br>
        <hr>
  <% }) %>
  </ul>
