listings page

<ul id="all-task-list">
  <% allTasks.forEach(function(task) { %>
    // <li>
    Title:          <%= task.title %><br>
    Description:    <%= task.description %><br>
    Date:           <%= task.date %><br>
    Time:           <%= task.time %><br>
    Location:       <%= task.location %><br>
        <hr>
    // </li>
  <% }) %>
  </ul>
