Taskers profile page

<h2>Hi, <%= user %> </h2>

<h2>Your task listing</h2>
<% taskList.forEach(function(task) { %>
      <tr>
        <td>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.date %></td>
        <td><%= task.time %></td>
        <a href="profile/<%=task._id%>/edit">Amend</a>
        <td><form method="post" action="profile/<%=task._id%>?_method=DELETE">
        <button class="btn btn-danger btn-sm" name="submit" type="submit">Delete</button>
      </tr><hr>
      <% })  %>


  <button type="button" class="btn btn-secondary btn-lg"><a href="/tasks/newtask">Create a new task</button>

  <a href="/taskers/logout">Logout</a>
