<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tasker profile page</title>
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>

    <button type="button" id="logoutbtn" class="btn btn-default btn-sm"><a href="/logout">Logout</a>
    <span class="glyphicon glyphicon-log-out"></span>
    </button>

    <h1>Hi, <%= user %> </h1>

      <h2>Your task listing</h2>

    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Time</th>
          <th>Message</th>
          <th>Helper</th>
        </tr>
      </thead>
      <tbody>

        <% taskList.forEach(function(task) { %>
          <%var date = new Date(task.date);
              var day = date.getDate();
              var mth = date.getMonth()+1
              var yr = date.getFullYear()
              %>
              <tr>
                <td><%= task.title %></td>
                <td><%=day+'/'+mth+ '/'+yr%></td>
                <td><%= task.time%></td>
                <td><%= task.message%></td>
                <td>
                <% if(task.helper) { %>
                  <%= task.helper.local.name %>
                <% } else { %>
                <% } %>
                </td>
                <td><a href="profile/<%=task._id%>/edit" class="btn btn-info" role="button" aria-pressed="true">View/Amend</a></td>

                <td><form method="post" action="profile/<%=task._id%>?_method=DELETE">
                <button class="btn btn-outline-warning" name="submit" type="submit">Delete</button></td></form>
              </tr>
              <% })  %>
      </tbody>
    </table>

      <button type="button" class="btn btn-secondary btn-lg"><a href="/tasks/newtask">Create a new task</button>




  </body>
</html>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script src="js/script.js" charset="utf-8"></script>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
