Helpers profile page

  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Helper profile page</title>
      <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>

      <button type="button" id="logoutbtn" class="btn btn-default btn-sm"><a href="/logout">Logout</a>
      <span class="glyphicon glyphicon-log-out"></span>
      </button>

    <h1>Hi, <%= user %> </h1>

    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
          <th>Time</th>
          <th>Message</th>
          <th>Tasker</th>
        </tr>
      </thead>
      <tbody>

        <% taskList.forEach(function(task) { %>
          <%var date = new Date(task.date);
              var day = date.getDate();
              var mth = date.getMonth()+1
              var yr = date.getFullYear()
              %>
              <tr>
                <td><%= task.title %></td>
                <td><%= task.description %></td>
                <td><%= day+'/'+mth+ '/'+yr%></td>
                <td><%= task.time%></td>
                <td><%= task.message %></td>
                <td>
                <% if(task.tasker) { %>
                  <%= task.tasker.local.name %>
                <% } else { %>
                <% } %></td>
              </tr>
              <% })  %>
      </tbody>
    </table>

      <button type="button" class="btn btn-secondary btn-lg"><a href="/tasks/helperList">Check Out Open Tasks</button>

    </body>
  </html>
